<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-secondary fixed-top">

    <ul class="navbar-nav nav nav-pills" role="tablist">
        <li class="nav-item">
            <a href="/admin" class="nav-link active">View Users</a>
        </li>
        <li class="nav-item">
            <a href="/adminNewUser" class="nav-link">Add User</a>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link">Log out</a>
        </li>
    </ul>
</nav>

<div class="container">
    <table class="table table-responsive-md table-light table-striped" style="margin-top:80px">
        <caption></caption>
        <thead class="thead-light">
        <tr>
            <th>User Type</th>
            <th>Email</th>
            <th>Username</th>
            <th>Edit User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td class="tg-0lax" th:text="${user.type}" />
            <td class="tg-0lax" th:text="${user.email}" />
            <td class="tg-0lax" th:text="${user.username}" />
            <td>
                <form method="POST" th:action="editUser">
                    <input type="hidden" name="username" th:value="${user.username}"/>
                    <input type="submit" value="edit"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>