<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs Match</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-secondary fixed-top">

    <ul class="navbar-nav nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="/candidate">New Questions</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/answeredQuestions">Answered Questions</a>
        </li>

        <li class="nav-item">
            <a href="/jobsSelectedFor" class="nav-link active">Jobs match</a>
        </li>

        <li class="nav-item"></li>
        <a href="/logout" class="nav-link">Log Out</a>
    </ul>
</nav>

<h1 style="margin-top:80px">In Progress "3"</h1>

<div>
    List of Jobs Approved by HR and ability to view Job Spec
</div>

<div>No of jobs currently active??</div>

<div>Most Pop Q's/Skills of all times / currently active jobs</div>

</body>
</html>